#%2Aediff-merge%2A#2668gSQ#
.cache/
.python-environments/
ac-comphist.dat
auto-save-list/
elpa/
emacs-init.el
history
image-dired/
opencc.tmp
places
projectile-bookmarks.eld
recentf
semanticdb/
tramp
